<launch>

  <node pkg="comm_bridge" name="tcpip_node" type="tcpip_node" output="screen" respawn="true">
    <param name="switch_final" value="false"/>
    <param name="lidar_msg_location" value="/Lidar_object"/>
  </node>
  <!--<node pkg="SIG_management" name="SIGNAL_manage" type="SIGNAL_manage" respawn="true"/>-->

  <!-- <node pkg="comm_bridge" name="platform_bridge" type="platform_bridge"/>  -->

</launch>
